<% if @records != []%>

  <% @records.each do |r| %>
    <div>
       <h2> <%= r.name %></h2><br>
       <%= r.userbike.name %><br>
       <%= r.date %><br>
       <%= r.cost %><br>
       <%= r.notes %><br>
       <%= button_to "View Record", userbike_service_record_path(userbike_id: @userbike.id, id: r.id ), method: 'get' %>
    </div>
   <% end %>

   <% if @mostex != [] %>
    <h1> Your records over $50: </h1>
      <% @mostex.each do |r| %>
       <%= r.name %> <br>
       <%= r.cost  %><br>
       <%= button_to "View Record", userbike_service_record_path(userbike_id: @userbike.id, id: r.id), method: 'get' %>
     <% end %>
   <% end %>
 </div>
 
<% else %>
    <p>  Oops, you haven't created any records! </p>
<% end %> 