<h1> Bike Brands </h1> 
 <%=  form_with url:bikes_search_path, method: 'get' do |f| %>
    <%= f.label 'Search for a bike brand: ' %>
    <%= f.text_field :query %>
    <%= f.submit %>
<% end %>
 <%= render 'index' %>

 