<h1> Bikes Index </h1>
<% if @bikes %>
  <% @bikes.each do |b| %>
    <%= b.name %>
    <%= b.description %>
    <%= b.link_to "Show", b%>
    <%= b.link_to "Edit", edit_bike_path(b) %>
  <% end %>
<% else %>
    <p> Oops, you haven't created a bike yet! </p>
    <%= link_to "Create Bike Here!", new_bike_path %>
<% end %> 

